<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="#" class="media-left"><img src="assets/images/placeholder.svg" class="img-circle img-sm" alt=""></a>
                            <div class="media-body">
                                <span class="media-heading text-semibold">Anoop Sharma</span>
                            </div>
                            <div class="media-right media-middle">
                                <ul class="icons-list">
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Main -->
                            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                            <li class="active"><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                            <li><a href="index.html"><i class="icon-home4"></i> <span>Find a Dealer</span></a></li>
                            <li><a href="index.html"><i class="icon-home4"></i> <span>Test Drive</span></a></li>
                            <li><a href="index.html"><i class="icon-home4"></i> <span>Price List</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->
            </div>
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <div class="content">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="content-group">
                            <div class="page-header page-header-inverse" style="border: 1px solid #c0c0c0;">
                                <div class="page-header-content">
                                    <div class="page-title">
                                        <div class="row">
                                            <div class="col-lg-4 mb-10">
                                                <h5>
                                                    <i class="icon-arrow-left52 position-left"></i>
                                                    <span class="text-semibold">You have purchased</span> - Lexus LS
                                                    <small class="display-block">Black Color</small>
                                                </h5>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="stepwizard pull-right">
                                                    <div class="stepwizard-row setup-panel">
                                                        <div class="order-processing">
                                                            <style>
                                                                .stepwizard-row:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 76%;
                                                                    margin: 0 12%;
                                                                    height: 9px;
                                                                    background-color: #515969;
                                                                    z-index: 0;
                                                                }
                                                            </style>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-yellow btn-circle">&nbsp;</span>
                                                                <p><strong>Order Processing</strong></p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-grey-tint-3 btn-circle" style="border-color: #515969; background-color: #515969;">&nbsp;</span>
                                                                <p>Assembly Unit</p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-grey-tint-3 btn-circle" style="border-color: #515969; background-color: #515969;">&nbsp;</span>
                                                                <p>Shipment Ready</p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-grey-tint-3 btn-circle" style="border-color: #515969; background-color: #515969;">&nbsp;</span>
                                                                <p>Shipped</p>
                                                            </div>
                                                        </div>
                                                        <div class="assembly-unit">
                                                            <style>
                                                                .stepwizard-row:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 76%;
                                                                    margin: 0 12%;
                                                                    height: 9px;
                                                                    background-color: #515969;
                                                                    z-index: 0;
                                                                }

                                                                .stepwizard-step.step-1:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 100%;
                                                                    margin: 0 7%;
                                                                    height: 9px;
                                                                    background-color: #333333;
                                                                    z-index: 0;
                                                                }
                                                            </style>
                                                            <div class="stepwizard-step step-1 col-xs-3">
                                                                <span class="btn bg-ey-dark-grey btn-circle">&nbsp;</span>
                                                                <p>Order Processing</p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-dark-grey btn-circle">&nbsp;</span>
                                                                <p><strong>Assembly Unit</strong></p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-grey-tint-3 btn-circle" style="border-color: #515969; background-color: #515969;">&nbsp;</span>
                                                                <p>Shipment Ready</p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-grey-tint-3 btn-circle" style="border-color: #515969; background-color: #515969;">&nbsp;</span>
                                                                <p>Shipped</p>
                                                            </div>
                                                        </div>
                                                        <div class="shipment-ready">
                                                            <style>
                                                                .stepwizard-row:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 76%;
                                                                    margin: 0 12%;
                                                                    height: 9px;
                                                                    background-color: #515969;
                                                                    z-index: 0;
                                                                }

                                                                .stepwizard-step.step-fail:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 100%;
                                                                    margin: 0 7%;
                                                                    height: 9px;
                                                                    background-color: #f04c3e;
                                                                    z-index: 0;
                                                                }
                                                            </style>
                                                            <div class="stepwizard-step step-fail col-xs-3">
                                                                <span class="btn bg-ey-red btn-circle">&nbsp;</span>
                                                                <p>Order Processing</p>
                                                            </div>
                                                            <div class="stepwizard-step step-fail col-xs-3">
                                                                <span class="btn bg-ey-red btn-circle">&nbsp;</span>
                                                                <p>Assembly Unit</p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-red btn-circle">&nbsp;</span>
                                                                <p><strong>Shipment Ready</strong></p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-grey-tint-3 btn-circle" style="border-color: #515969; background-color: #515969;">&nbsp;</span>
                                                                <p>Shipped</p>
                                                            </div>
                                                        </div>
                                                        <div class="shipped">
                                                            <style>
                                                                .stepwizard-row:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 76%;
                                                                    margin: 0 12%;
                                                                    height: 9px;
                                                                    background-color: #515969;
                                                                    z-index: 0;
                                                                }

                                                                .stepwizard-step.step-success:before {
                                                                    top: 6px;
                                                                    bottom: 0;
                                                                    position: absolute;
                                                                    content: " ";
                                                                    width: 100%;
                                                                    margin: 0 7%;
                                                                    height: 9px;
                                                                    background-color: #2c973e;
                                                                    z-index: 0;
                                                                }
                                                            </style>
                                                            <div class="stepwizard-step step-success col-xs-3">
                                                                <span class="btn bg-ey-green btn-circle">&nbsp;</span>
                                                                <p>Order Processing</p>
                                                            </div>
                                                            <div class="stepwizard-step step-success col-xs-3">
                                                                <span class="btn bg-ey-green btn-circle">&nbsp;</span>
                                                                <p>Assembly Unit</p>
                                                            </div>
                                                            <div class="stepwizard-step step-success col-xs-3">
                                                                <span class="btn bg-ey-green btn-circle">&nbsp;</span>
                                                                <p>Shipment Ready</p>
                                                            </div>
                                                            <div class="stepwizard-step col-xs-3">
                                                                <span class="btn bg-ey-green btn-circle">&nbsp;</span>
                                                                <p><strong>Shipped</strong></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 img-responsive"><img src="/assets/images/lexus.jpg" /></div>
                                <div class="col-lg-8">
                                    <h5 class="text-semibold">Car Specifications</h5>
                                    <div class="row">
                                        <div class="col-lg-12 fnt-14  nm-brdRyt hidden-xs mt-20">
                                            <form class="form-horizontal" action="#">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <b class="control-label col-lg-4">Fuel Type</b>
                                                        <div class="col-lg-8">
                                                            <div class="form-control-static">Petrol</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <b class="control-label col-lg-4">Mileage</b>
                                                        <div class="col-lg-8">
                                                            <div class="form-control-static">15 Kmpl</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <b class="control-label col-lg-4">Engine</b>
                                                        <div class="col-lg-8">
                                                            <div class="form-control-static">3456 CC</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <b class="control-label col-lg-4">Transmission</b>
                                                        <div class="col-lg-8">
                                                            <div class="form-control-static">Automatic</div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="text-semibold">Accessories</h5>
                                    <div class="row">
                                        <div class="col-lg-12 mt-10">
                                            <ul class="accessories-selection">
                                                <li class="accessories-choice">Tyre</li>
                                                <li class="accessories-choice">Mirror</li>
                                                <li class="accessories-choice">Seat</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /content area -->
</div>
