<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="#" class="media-left"><img src="assets/images/placeholder.svg" class="img-circle img-sm" alt=""></a>
                            <div class="media-body">
                                <span class="media-heading text-semibold">{{userName}}</span>
                            </div>
                            <div class="media-right media-middle">
                                <ul class="icons-list">
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Main -->
                            <li class="navigation-header"><span>NAVIGATION</span> <i class="icon-menu" title="Main pages"></i></li>
                            <li class="active"><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                            <li><a href="index.html"><i class="icon-home4"></i> <span>Find a Dealer</span></a></li>
                            <li><a href="index.html"><i class="icon-home4"></i> <span>Test Drive</span></a></li>
                            <li><a href="index.html"><i class="icon-home4"></i> <span>Price List</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->
            </div>
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="thumb content-group no-margin">
                                    <img src="assets/images/bookacar.png" alt="" class="img-responsive">
                                    <div class="caption-overflow">
                                        <span>
                                            <a href="book-a-car" class="btn btn-auto btn-lg bg-ey-yellow">BOOK A CAR</a>
                                        </span>
                                    </div>

                                    <!--<div class="caption-overflow">
                                        <div class="form-group">
                                            <button type="submit" class="btn bg-ey-yellow btn-block">Book a Car<i class="icon-circle-right2 position-right"></i></button>
                                        </div>
                                    </div>-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="thumb content-group no-margin">
                                    <img src="assets/images/accessories.png" alt="" class="img-responsive">
                                    <div class="caption-overflow">
                                        <span>
                                            <a href="#" class="btn btn-auto btn-lg bg-ey-yellow">BUY ACCESSORIES</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="thumb content-group no-margin">
                                    <img src="assets/images/automobile-dealer.png" alt="" class="img-responsive">
                                    <div class="caption-overflow">
                                        <span>
                                            <a href="dealer.html" class="btn btn-auto btn-lg bg-ey-yellow">CONTACT DEALER</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
    </div>
</div>
